<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.sakyone.dao.GrayUserMapper">

    <resultMap id="GrayUserMap" type="com.sakyone.entity.GrayUser">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="userType" column="user_type"/>
        <result property="status" column="status"/>
        <result property="remark" column="remark"/>
        <result property="groupId" column="group_id"/>
        <result property="wxappId" column="wxappid"/>
        <result property="xcxappId" column="xcxappid"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
    
    <sql id="columns">
        <![CDATA[
        id, user_id, user_type, status, remark, group_id, create_time, update_time,wxappid,xcxappid
        ]]>
    </sql>
    
    <sql id="where">
        <where>
           <if test="@Ognl@isNotEmpty(id)">
                AND id = #{id}
            </if>
           <if test="@Ognl@isNotEmpty(userId)">
                AND user_id = #{userId}
            </if>
           <if test="@Ognl@isNotEmpty(userType)">
                AND user_type = #{userType}
            </if>
           <if test="@Ognl@isNotEmpty(remark)">
                AND remark = #{remark}
            </if>
           <if test="@Ognl@isNotEmpty(groupId)">
                AND group_id = #{groupId}
            </if>
           <if test="@Ognl@isNotEmpty(createTimeBegin)">
                AND create_time >= #{createTimeBegin}
           </if>
           <if test="@Ognl@isNotEmpty(createTimeEnd)">
                AND create_time &lt;= #{createTimeEnd}
           </if>
           <if test="@Ognl@isNotEmpty(updateTimeBegin)">
                AND update_time >= #{updateTimeBegin}
           </if>
           <if test="@Ognl@isNotEmpty(updateTimeEnd)">
                AND update_time &lt;= #{updateTimeEnd}
           </if>
            <if test="@Ognl@isNotEmpty(wxappId)">
                AND u.wxappId = #{wxappId}
            </if>
            <if test="@Ognl@isNotEmpty(xcxappid)">
                AND u.xcxappId = #{xcxappid}
            </if>
        </where>
    </sql>
    
    <select id="get" resultMap="GrayUserMap">
        SELECT <include refid="columns" />
        <![CDATA[
            FROM
                gray_user
            WHERE 
                id = #{id} 
        ]]>
    </select>
    

</mapper>

